* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

header {
    width: 100vw;
    height: 12vh;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
}

header svg {
    fill: #FC6027;
    transform: scale(1.5, 1.5);
}

main {
    margin: 12vh 0 0 0;
}

aside {
    position: fixed;
    top: 12vh;
    left: 0;
    height: 88vh;
    width: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
}